<header class="jumbotron" style="background-color: rgba(0, 0, 0, 0.459);">
    <div class="container">
      <h1>Welcome to Revisa</h1>
      <p>View our Resturants</p>

      <p>
        <a class="btn btn-primary btn-lg" href="/restaurants/new">Add New Resturants</a>
      </p>
    </div>
</header>
{{#each restaurants}}
<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3> Popular resturants</h3>
      </div>
    </div>

    <div class="row">
        
        <div class=" col-sm-12">            
          <div class="img-thumbnail rounded float-left">
            <img src={{ image }} style="width: 35%; height: 35%">
            <div class="caption">
              <h4  style="color: black;"> {{ name }} </h4>
            </div>
            <p>
              <a id={{ id }} class="btn btn-primary btn-lg" data-id={{ id }} onclick="{{ name }}()" href="/restaurants/reviews">Add your review</a>
            </p>
          </div> 

        </div>
        
    </div>
</div>
<script>
  function {{ name }}() {
    let restID = document.getElementById({{ id }}).getAttribute('data-id')
    // localstorage
    localStorage.setItem("vOneLocalStorage", restID);
  }  
</script>

{{/each}}
<script src="/assets/js/client.js"></script>









