<div class="uk-child-width-1-2@m uk-child-width-1-3@l uk-margin-medium-bottom" uk-grid>
{{#each restaurants}}
  <div>
      <div class="uk-card uk-card-default uk-card-hover">
          <div class="uk-card-media-top uk-inline uk-transition-toggle" tabindex="0">
              <img data-src={{ image }} alt="nice grass" width="580" height="435" class="uk-align-center" uk-img>
              <div class="uk-overlay uk-overlay-default uk-position-bottom uk-transition-slide-bottom">
                  <p>{{ name }} - {{ location }}</p>
              </div>
          </div>
          <div class="uk-card-body">
              <div class="uk-grid-divider uk-child-width-expand" uk-grid>
                  <h3 class="uk-width-expand">{{ name }}</h3>
                  <span class="uk-text-large uk-width-small uk-width-1-2@l uk-width-2-5@s">{{ averageRating }} <a uk-icon="icon: star; ratio: 2" class="uk-text-warning "></a></span>
              </div>
              <p>{{ description }}</p>
              <p><a uk-icon="credit-card" class="uk-text-secondary"></a> Pricing: {{ averageMoney }}</p>
              <p><a uk-icon="users" class="uk-text-success"></a> Busyness: {{ averageBussy }}</p>
              <p><a uk-icon="warning" class="uk-text-primary"></a> Cleanliness: {{ averageClean }}</p>
              <ul uk-accordion="toggle:">
                  <li class="uk-margin-remove-top" >
                      <a class="uk-accordion-title uk-text-muted" href="#">More Info</a>
                      <div class="uk-accordion-content">
                          <p><a uk-icon="receiver" class="uk-text-secondary"></a> Phone #: {{ phone }}</p>
                          <p><a uk-icon="mail" class="uk-text-secondary"></a> Store email: {{ email }}</p>
                          <p><a uk-icon="comments" class="uk-text-secondary"></a> Languages: {{ language }}</p>
                          <p><a uk-icon="world" class="uk-text-secondary"></a> Website: {{ website }}</p>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="uk-card-footer">
              <a id={{ id }} href="/restaurants/reviews/{{ id }}" data-id={{ id }} onclick="{{ myFunction }}()" class="uk-button uk-button-text">See Reviews</a>
          </div>
      </div>
  </div>
<script>
  // Passing the ID to the reviews.js using LocalStorage
  function {{ myFunction }}() {
    let restID = document.getElementById({{ id }}).getAttribute('data-id')
    // localstorage
    localStorage.setItem("vOneLocalStorage", restID);
  }  
</script>
{{/each}}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<script src="/assets/js/client.js"></script>
