<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3> Reviews</h3>
      </div>
    </div>

    <div class="row">
 
        <div id="restaurantN"></div>
        <form id="create-form">
          <div class="form-group">
            <input type="text" id="userName" name="username" />
            <input type="text" id="comment" name="comment" placeholder="write your comment here">
            <button type="submit">Submit</button>
          </div>


        </form>
    </div>
</div>

<script src="/assets/js/client.js"></script>
<script src="/assets/js/reviews.js"></script>

       {{!--{{#each restaurant}}
        {{log this}}
        <div class=" col-sm-12">            
          <div class="img-thumbnail rounded float-left">
            <img src={{ image }} style="width: 40%; height: 40%">
            <div class="caption">
              <h4  style="color: black;"> {{ name }} </h4>
            </div>
          </div>
        
          <div class=" col-sm-12">
            
            <span>{{Reviews}}</span>
            <p>{{this}}</p>
          </div>
        </div>
        {{/each}} --}}

        {{!-- <form action="/restaurants/reviews" method="POST">
          <input type="text" name="username" />
          <input type="text" name="comment" placeholder="write your comment here">
          <button type="submit">Submit</button>
        </form>  --}}









