<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3> Reviews</h3>
      </div>
    </div>

    <div class="row">
 
        <h4 id="restaurantN" class="col-12"></h4>
        <div class="img-thumbnail rounded float-right" style="height: 15%; width: 15%">
          <img id='restaurantImg' style="width: 100%; height: 100%">
        </div>
        
        <ul id="reviewsContainer" class="uk-comment-list"></ul>

        <form id="create-form" class="row">
          {{!-- Rating --}}
          <div class="rating form-group col-5">

            <input type="radio" name="rating" value="1" id="r1">
            <label for="r1"></label>

            <input type="radio" name="rating" value="2" id="r2">
            <label for="r2"></label>

            <input type="radio" name="rating" value="3" id="r3">
            <label for="r3"></label>

            <input type="radio" name="rating" value="4" id="r4">
            <label for="r4"></label>

            <input type="radio" name="rating" value="5" id="r5">
            <label for="r5"></label>

          </div>
          <div class="col-7"></div>
          {{!-- Rating ends --}}
          {{!-- Rating money--}}
          <div class="rating2 form-group col-5">

            <input type="radio" name="rating2" value="1" id="r11">
            <label for="r11"></label>

            <input type="radio" name="rating2" value="2" id="r22">
            <label for="r22"></label>

            <input type="radio" name="rating2" value="3" id="r33">
            <label for="r33"></label>

            <input type="radio" name="rating2" value="4" id="r44">
            <label for="r44"></label>

            <input type="radio" name="rating2" value="5" id="r55">
            <label for="r55"></label>

          </div>
          <div class="col-7"></div>
          {{!-- Rating money ends --}}
          {{!-- Rating Food--}}
          <div class="rating3 form-group col-5">

            <input type="radio" name="rating3" value="1" id="r111">
            <label for="r111"></label>

            <input type="radio" name="rating3" value="2" id="r222">
            <label for="r222"></label>

            <input type="radio" name="rating3" value="3" id="r333">
            <label for="r333"></label>

            <input type="radio" name="rating3" value="4" id="r444">
            <label for="r444"></label>

            <input type="radio" name="rating3" value="5" id="r555">
            <label for="r555"></label>

          </div>
          <div class="col-7"></div>
          {{!-- Rating Food ends --}}
          {{!-- Rating Clean--}}
          <div class="rating4 form-group col-5">

            <input type="radio" name="rating4" value="1" id="r1111">
            <label for="r1111"></label>

            <input type="radio" name="rating4" value="2" id="r2222">
            <label for="r2222"></label>

            <input type="radio" name="rating4" value="3" id="r3333">
            <label for="r3333"></label>

            <input type="radio" name="rating4" value="4" id="r4444">
            <label for="r4444"></label>

            <input type="radio" name="rating4" value="5" id="r5555">
            <label for="r5555"></label>

          </div>
          <div class="col-7"></div>
          {{!-- Rating Clean ends --}}
          
          <div class="form-group col-12">
            <input type="text" id="userName" name="username" />
            <input type="text" id="title" name="title" />
            <input type="text" id="comment" name="comment" placeholder="write your comment here">
            <button type="submit">Submit</button>
          </div>


        </form>
    </div>
</div>

<script src="/assets/js/reviews.js"></script>

       {{!--{{#each restaurant}}
        {{log this}}
        <div class=" col-sm-12">            
          <div class="img-thumbnail rounded float-left">
            <img src={{ image }} style="width: 40%; height: 40%">
            <div class="caption">
              <h4  style="color: black;"> {{ name }} </h4>
            </div>
          </div>
        
          <div class=" col-sm-12">
            
            <span>{{Reviews}}</span>
            <p>{{this}}</p>
          </div>
        </div>
        {{/each}} --}}

        {{!-- <form action="/restaurants/reviews" method="POST">
          <input type="text" name="username" />
          <input type="text" name="comment" placeholder="write your comment here">
          <button type="submit">Submit</button>
        </form>  --}}









